const Webpack = require("webpack");

module.exports = require('./scalajs.webpack.config');

const CustomConf = {
  module: {
    rules: [
      {
          test: /\.css$/,
          use: ['style-loader', 'css-loader']
      },
      {
          test: /\.(ttf|eot|woff|png|glb)$/,
          use: 'file-loader'
      },
      {
          test: /\.(eot)$/,
          use: 'url-loader'
      }
    ]
  }
};

Object.assign(module.exports, CustomConf);