const Webpack = require("webpack");
const NodePolyfillPlugin = require('node-polyfill-webpack-plugin');

module.exports = require('./scalajs.webpack.config');

const CustomConf = {
  module: {
    rules: [
      {
          test: /\.css$/,
          use: ['style-loader', 'css-loader']
      },
      {
          test: /\.(ttf|eot|woff|png|glb)$/,
          use: 'file-loader'
      },
      {
          test: /\.(eot)$/,
          use: 'url-loader'
      }
    ]
  },
  plugins: [
    new NodePolyfillPlugin()
  ]
};

Object.assign(module.exports, CustomConf);